__pycache__/
*.pyc
.pytest_cache/
events.db
*.pt
*.task
.env
google_calendar_url.txt
contacts.json
.n8n_cookies.txt

google_calendar_webapp.json
vision_node/cameras.json
vision_node/node.env
yolov8n_ncnn_model/
